/* HEADER */

.container-header {
  padding-block: 10px;
}
nav {
  background-color: cadetblue;
  padding-left: 20px;
}

/* FOOTER */

footer {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
footer address {
  margin-bottom: 0;
}

/* Container Principal: content */
.content {
  width: 80%;
  margin: 0 auto;
}

/* BODY */
body {
  background-color: #ff7f7f;
  font-family: arial;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
