
<div class="container-result">
    <div class="result-title">
        <h2>Resultados</h2>
    </div>
    <div class="result-content">
        <div class="exercises">
            <div class="exercises-info">
                <p>Modo de Juego: </p>
                <p>Ejercicios Resueltos</p>
            </div>
            <div class="container-exercises">

            </div>
        </div>
        <div class="exercises-result">
            
        </div>
    </div>
    <div class="btn-controlers d-flex justify-content-center my-3">
        <a href="../index.html" class="btn btn-success">Volver a Intentar <i class="fas fa-redo"></i></a>
    </div>
</div>

<link rel="stylesheet" href="../static/css/resultado.css">
<script src="../static/js/resultado.js"></script>
<!-- D3 -->

