{% load static %}

<nav class="main-header navbar-expand navbar-dark navbar-primary">
    <div class="container-header">
        <h1>Suma/Resta Mental</h1>
        <ul class="breadcrumb float-sm-left">
            {% for b in breads  %}
                <li class="breadcrumb-item">
                    {% if b.current != 'active' %}
                        <a href="{{ b.url }}">{{b.name}}</a>
                    {% else %}
                        {{ b.name }}
                    {% endif %}
                </li>
            
            
            {% endfor %}
        </ul>
    </div>
</nav>
